# **UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE**

## **INSTITUTO METRÓPOLE DIGITAL**

### **CIÊNCIA DE DADOS**

DOCENETE: DANIEL SABINO

DISCENTES: EDUARDA CHIESA E SIDNEY ALVES

### Importação das bibliotecas e carregamento da base de dados

In [29]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

In [30]:
diretorio = './Base_Dados'
arquivos = os.listdir(diretorio)
arquivos.sort()

print(f'Quantidade de arquivos: {len(arquivos)}')
print('Listagem dos arquivos:')

for arquivo in arquivos:
    print('\t', arquivo)

Quantidade de arquivos: 22
Listagem dos arquivos:
	 investimentos_cnpq_2002.csv
	 investimentos_cnpq_2003.csv
	 investimentos_cnpq_2004.csv
	 investimentos_cnpq_2005.csv
	 investimentos_cnpq_2006.csv
	 investimentos_cnpq_2007.csv
	 investimentos_cnpq_2008.csv
	 investimentos_cnpq_2009.csv
	 investimentos_cnpq_2010.csv
	 investimentos_cnpq_2011.csv
	 investimentos_cnpq_2012.csv
	 investimentos_cnpq_2013.csv
	 investimentos_cnpq_2014.csv
	 investimentos_cnpq_2015.csv
	 investimentos_cnpq_2016.csv
	 investimentos_cnpq_2017.csv
	 investimentos_cnpq_2018.csv
	 investimentos_cnpq_2019.csv
	 investimentos_cnpq_2020.csv
	 investimentos_cnpq_2021.csv
	 investimentos_cnpq_2022.csv
	 investimentos_cnpq_2023.csv

Como a base de dados está separada em vários arquivos diferentes, há à necessidade de unir os dados em um único dataset.

In [31]:
import os
import pandas as pd

lista_df = []

for arquivo in arquivos:
    caminho = os.path.join(diretorio, arquivo)

    if arquivo is not None:
        try:
            df = pd.read_csv(caminho, encoding='latin-1')
            lista_df.append(df)
        except UnicodeDecodeError as err:
            print(f'Erro de codificação do arquivo: {arquivo} - {err}')
        except Exception as err:
            print(f'Erro ao ler o arquivo {arquivo}: {err}')

dataset = pd.concat(lista_df, ignore_index=True)

print(f'Quantidade de arquivos utilizados para gerar o dataset: {len(lista_df)} arquivos totalizando {len(dataset)} registros')

Erro ao ler o arquivo investimentos_cnpq_2019.csv: Error tokenizing data. C error: Expected 21 fields in line 46, saw 22

Erro ao ler o arquivo investimentos_cnpq_2020.csv: Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

Erro ao ler o arquivo investimentos_cnpq_2021.csv: Error tokenizing data. C error: Expected 2 fields in line 9, saw 4

/tmp/ipykernel_13120/3179849340.py:11: DtypeWarning: Columns (0,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho, encoding='latin-1')

Erro ao ler o arquivo investimentos_cnpq_2023.csv: Error tokenizing data. C error: Expected 3 fields in line 17, saw 5

Quantidade de arquivos utilizados para gerar o dataset: 18 arquivos totalizando 2299780 registros

O erro ao carregar se deve a modificação na formatação de como o arquivo está sendo gerado. Nos mais recentes, imagens e informações extras estão sendo insseridas, ocasionando o erro.

Uma primeira observação sobre os dados.

In [32]:
dataset.head()

,Ano Referência,Processo,Beneficiário,Linha de Fomento,Modalidade,Categoria/Nível,Nome Chamada,Programa CNPq,Grande Área,Área,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,2002.0,130942/2000-6,Abad Oliveira Souza Júnior,Bolsas de Mestrado,GM - Mestrado,NaN,NaN,Programa Básico de Geociências: Geofísica e Ge...,Ciências Exatas e da Terra,Geociências,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002.0,131008/2001-3,Abel Batista de Oliveira,Bolsas de Mestrado,GM - Mestrado,NaN,NaN,PROGRAMA BASICO DE AGRONOMIA,Ciências Agrárias,Agronomia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002.0,131008/2001-3,Abel Batista de Oliveira,Bolsas de Mestrado,GM - Mestrado,NaN,Cotas do Programa de Pós-Graduação,PROGRAMA BASICO DE AGRONOMIA,Ciências Agrárias,Agronomia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002.0,132920/2002-6,Abel Bemvenuti,Bolsas de Mestrado,GM - Mestrado,NaN,Cotas do Programa de Pós-Graduação,PROGRAMA BASICO DE BIOFISICA,Ciências Biológicas,Biofísica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002.0,141578/2002-5,Abel Guilhermino da Silva Filho,Bolsas de Doutorado,GD - Doutorado,NaN,Cotas do Programa de Pós-Graduação,PROGRAMA BASICO DE CIENCIA DA COMPUTACAO,Ciências Exatas e da Terra,Ciência da Computação,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Pré processamento dos dados

Verificando os tipos de dados no dataset.

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299780 entries, 0 to 2299779
Data columns (total 49 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Ano Referência                   float64
 1   Processo                         object
 2   Beneficiário                     object
 3   Linha de Fomento                 object
 4   Modalidade                       object
 5   Categoria/Nível                  object
 6   Nome Chamada                     object
 7   Programa CNPq                    object
 8   Grande Área                      object
 9   Área                             object
 10  Subárea                          object
 11  Instituição Origem               object
 12  Sigla UF Origem                  object
 13  País Origem                      object
 14  Instituição Destino              object
 15  Sigla Instituição Destino        object
 16  Sigla Instituição Macro          object
 17  Cidade Destino                   object
 18  Sigla UF Destino                 object
 19  País Destino                     object
 20  Valor Pago                       object
 21  Unnamed: 0                       object
 22  Unnamed: 1                       object
 23  Relatório de dados abertos-CNPq  object
 24  Unnamed: 3                       object
 25  Unnamed: 4                       object
 26  Unnamed: 5                       object
 27  Unnamed: 6                       object
 28  Unnamed: 7                       object
 29  Unnamed: 8                       object
 30  Unnamed: 9                       object
 31  Unnamed: 10                      object
 32  Unnamed: 11                      object
 33  Unnamed: 12                      object
 34  Unnamed: 13                      object
 35  Unnamed: 14                      object
 36  Unnamed: 15                      object
 37  Unnamed: 16                      object
 38  Unnamed: 17                      object
 39  Unnamed: 18                      object
 40  Unnamed: 19                      object
 41  Unnamed: 20                      object
 42  Unnamed: 21                      object
 43  Unnamed: 22                      object
 44  Unnamed: 23                      object
 45  Unnamed: 24                      object
 46  Unnamed: 25                      object
 47  Unnamed: 26                      object
 48  Unnamed: 27                      object
dtypes: float64(1), object(48)
memory usage: 859.8+ MB

Há colunas desnecessárias que devem ser removidas.

In [34]:
remover_colunas = ['Unnamed: 0', 'Unnamed: 1','Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 
                   'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
                   'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 
                   'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27']

In [35]:
dataset = dataset.drop(columns=remover_colunas)

In [36]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299780 entries, 0 to 2299779
Data columns (total 22 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Ano Referência                   float64
 1   Processo                         object
 2   Beneficiário                     object
 3   Linha de Fomento                 object
 4   Modalidade                       object
 5   Categoria/Nível                  object
 6   Nome Chamada                     object
 7   Programa CNPq                    object
 8   Grande Área                      object
 9   Área                             object
 10  Subárea                          object
 11  Instituição Origem               object
 12  Sigla UF Origem                  object
 13  País Origem                      object
 14  Instituição Destino              object
 15  Sigla Instituição Destino        object
 16  Sigla Instituição Macro          object
 17  Cidade Destino                   object
 18  Sigla UF Destino                 object
 19  País Destino                     object
 20  Valor Pago                       object
 21  Relatório de dados abertos-CNPq  object
dtypes: float64(1), object(21)
memory usage: 386.0+ MB

É observado que o *Ano Referência* está sendo considerado como *int64*, diferente do *Valor Pago* que deveria ser um *float*.

Antes de realizar a conversão, há a necessidade de substituir o separador das casas decimais de uma `,` para um `.`.

Também é interessante utilizar um *int32*, no caso um inteiro menor para o armazenamento.

In [37]:
dataset['Valor Pago'] = dataset['Valor Pago'].map(lambda x : str(x).replace(',','.'))
dataset['Valor Pago'] = dataset['Valor Pago'].astype(np.float32)

In [38]:
dataset['Ano Referência'] = dataset['Ano Referência'].astype(np.float32)

In [39]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299780 entries, 0 to 2299779
Data columns (total 22 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Ano Referência                   float32
 1   Processo                         object
 2   Beneficiário                     object
 3   Linha de Fomento                 object
 4   Modalidade                       object
 5   Categoria/Nível                  object
 6   Nome Chamada                     object
 7   Programa CNPq                    object
 8   Grande Área                      object
 9   Área                             object
 10  Subárea                          object
 11  Instituição Origem               object
 12  Sigla UF Origem                  object
 13  País Origem                      object
 14  Instituição Destino              object
 15  Sigla Instituição Destino        object
 16  Sigla Instituição Macro          object
 17  Cidade Destino                   object
 18  Sigla UF Destino                 object
 19  País Destino                     object
 20  Valor Pago                       float32
 21  Relatório de dados abertos-CNPq  object
dtypes: float32(2), object(20)
memory usage: 368.5+ MB

De acordo com a [Tabela de Valores de Bolsas no País](https://www.gov.br/cnpq/pt-br/acesso-a-informacao/bolsas-e-auxilios/copy_of_modalidades/tabela-de-valores-no-pais), *Categoria/Nivel* e *Modalidade* são bem relacionadas possuindo a mesma informação referente ao *Valor Pago*, por isso não há necessidade de manter as duas colunas.

Os dados referentes há *Nome Chamada* são do tipo de programa (exemplo: PIBIC), más há o campo *Programa CNPq*. É interessante possuir algo relacionado ao programa, para conhecermos um pouco mais sobre os programas relacionado as *Áreas* em determinadas regiões.

Em relação a *Instituição Origem* e *Sigla UF Origem*, ambos podem ser removidos, pois a análise se dá às regiões a que as bolsas e auxílios são destinados.

In [40]:
dataset = dataset.drop(columns=['Categoria/Nível', 'Nome Chamada', 'Instituição Origem', 'Sigla UF Origem', 'Relatório de dados abertos-CNPq'])

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299780 entries, 0 to 2299779
Data columns (total 17 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Ano Referência             float32
 1   Processo                   object
 2   Beneficiário               object
 3   Linha de Fomento           object
 4   Modalidade                 object
 5   Programa CNPq              object
 6   Grande Área                object
 7   Área                       object
 8   Subárea                    object
 9   País Origem                object
 10  Instituição Destino        object
 11  Sigla Instituição Destino  object
 12  Sigla Instituição Macro    object
 13  Cidade Destino             object
 14  Sigla UF Destino           object
 15  País Destino               object
 16  Valor Pago                 float32
dtypes: float32(2), object(15)
memory usage: 280.7+ MB

In [42]:
print(f'Quantidade de registros ausentes: \n{dataset.isnull().sum()}')

Quantidade de registros ausentes:
Ano Referência               227263
Processo                     227263
Beneficiário                 227265
Linha de Fomento             227263
Modalidade                   227263
Programa CNPq                227263
Grande Área                  227263
Área                         235867
Subárea                      227263
País Origem                  227263
Instituição Destino          239175
Sigla Instituição Destino    239398
Sigla Instituição Macro      239252
Cidade Destino               241999
Sigla UF Destino             325120
País Destino                 227263
Valor Pago                   228186
dtype: int64

Remoção de dados faltantes.

In [43]:
#dataset = dataset.dropna()

In [44]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299780 entries, 0 to 2299779
Data columns (total 17 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Ano Referência             float32
 1   Processo                   object
 2   Beneficiário               object
 3   Linha de Fomento           object
 4   Modalidade                 object
 5   Programa CNPq              object
 6   Grande Área                object
 7   Área                       object
 8   Subárea                    object
 9   País Origem                object
 10  Instituição Destino        object
 11  Sigla Instituição Destino  object
 12  Sigla Instituição Macro    object
 13  Cidade Destino             object
 14  Sigla UF Destino           object
 15  País Destino               object
 16  Valor Pago                 float32
dtypes: float32(2), object(15)
memory usage: 280.7+ MB

Verificar as informações estatísticas de *Ano Referência* e *Valor Pago*.

In [45]:
dataset.describe()

       Ano Referência    Valor Pago
count    2.072517e+06  2.071594e+06
mean     2.012292e+03  1.112732e+04
std      4.092165e+00  3.567446e+04
min      2.060000e+02 -2.415100e+02
25%      2.010000e+03  1.880000e+03
50%      2.013000e+03  2.800000e+03
75%      2.015000e+03  1.320000e+04
max      2.018000e+03  1.296662e+07

In [46]:
df = dataset.copy()
df['Ano Referência'].value_counts().sort_index()

Ano Referência
206.0          1
2002.0     21667
2003.0     34520
2004.0     42225
2005.0     44634
2006.0     48523
2007.0     59214
2008.0     94840
2009.0    127633
2010.0    157780
2011.0    169064
2012.0    182193
2013.0    195332
2014.0    207455
2015.0    206491
2016.0    171675
2017.0    153539
2018.0    155731
Name: count, dtype: int64